
.wrapper {
    margin: 0 auto;
    max-width: 400px;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

header {
    background-color: #1e2564;
    width: 400px;
    height: 100px;
}

.left {
    background-color: #87cc9a;
    width: 150px;
    height: 250px;
    float: left;
}

.right {
    background-color: #8c3636;
    width: 250px;
    height: 250px;
    float: right;
}

footer {
    background-color: #e08824;
    width: 400px;
    height: 100px;
}