.wrraper {
    max-width: calc(150px + 250px);
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.color-navy {
    background-color: #141f40;
    width: calc(150px + 250px);
    height: 100px;
}

.left {
    float: left;
}

.color-green {
    background-color: #80bfa8;
    width: 150px;
    height: 250px;
}

.right {
    float: right;
}

.right__right {
    float: right;
}

.color-pink {
    background-color: #ff9e6b;
    width: 100px;
    height: 150px;
}

.right__left {
    float: left;
    width: 150px;
    height: 150px;
}

.color-yellow {
    background-color: #dbd400;
    height: 50px;
}

.color-blue {
    background-color: #0093b7;
    width: 150px;
    height: 100px;
}

.color-red {
    background-color: #8c2727;
    width: 250px;
    height: 100px;
}

.color-orange {
    background-color: #d98d30;
    width: calc(150px + 250px);
    height: 100px;
}
